/*HEADER BACKGROUND IMAGE*/  

.wraper {
        background-image: url("../images/background.jpg");
        background-size: cover;
        max-width: 100%;
    }

/* NAVIGATION */

.navigation-container {
    display: inline-flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.company-name {
    color: goldenrod;
    font-size: 40px;
}

.navigation-list {
    display: inline-flex;    
    list-style-type: none;
    text-decoration: none;
}

.navigation li {
    text-decoration: none;
    padding: 0 20px;   
}

.navigation a {
    text-decoration: none;
    text-align: center;
    color: white;
    font-size: 20px;
}

/* HEADER */

.welcome{
    display: flex;
    min-height: 800px;
}

.header-container {
    width: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
  }

  .header-container .welcome-to {
    font-size: 80px; 
    margin-bottom: -30px; 
  }

  .header-container .nice-to {
    font-size: 100px;
  }

  .header-container .btn-first{
    border: none;
    border-radius: 10%;
    color: white;
    background-color: rgb(255, 180, 41);
    padding: 30px 60px;
    margin-top: -20px;
  }

/*SERVICES*/

.services{
    display: flex;
    background-color: white;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    min-height: 600px;
}

.services .services-text{
    margin: 0;
    text-align: center;
    padding-top: 40px;
    font-size: 60px;
}

.services .small-text{
    text-align: center;
    margin-top: 5px;
}

.services .services-icons{
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin-top: 50px;
}

.services i{
    border: solid 4px gold;
    border-radius: 50%;
    padding: 15px;
    color: gold;
}

.services .service-titles {
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin-top: 10px;
}

.services .service-description {
    display: flex;
    width: 100%;
    justify-content: space-around;
}


.services .service-description p {
    color: gray;
}

/*PORTFOLIO*/

.portfolio {
    background-color: rgb(211, 211, 211);
    min-height: 800px;
}

.portfolio-wraper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    min-height: 1000px;

}

.portfolio .portfolio-text {
    text-align: center;
    padding-top: 40px;
    font-size: 60px;
    margin: 0;
}

.portfolio .small-text {
    text-align: center;
    margin-top: 5px;
    
}

.portfolio-box {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: nowrap;
    flex: 0 0 30%;
    align-content: space-around; 
    margin-bottom: 30px ;
}

.portfolio-img {
    display: flex;
    height: 100%;
    margin-top: 10px;
    padding: 0 100px;
}

.portfolio-img img{
    height: 100%;
    max-width: 100%;
    object-fit: cover;
}

.porftolio-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(245, 245, 245);
    padding-top: 20px;
    margin: 0 100px;

}

/* FOOTER */

.page-footer {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
}

.page-footer .left-side {
    display: flex;
    align-items: center;
    justify-content:flex-start ;
    padding: 10px;
}

.page-footer .left-side i{
    padding: 10px;
}

.page-footer .center-side{
    display: flex;
    align-items: center;
    justify-content: flex-end;   
}

.page-footer .center-side i {
    display: inline-block;
    background-color: black;
    color: white;
    border-radius: 50%;
    box-shadow: 0 0 2px #888;
    padding: 0.5em 0.6em;
    margin: 0 10px;
    flex: 0 50%;
    
}